.editor{
  color: blue;
  &:hover{
    color: blue;
  }
}
.delete{
  color: red;
  &:hover{
    color: red;
  }
}

.titles{
  transition: all .3s;
  cursor: pointer;
  &:hover{
    color: #1890ff;
  }
}