.box {
  width: 100%;
  min-height: 600px;
  background-color: var(--bgColor);
  padding: 15px 0;
  user-select: text !important;
  .content {
    width: 1226px;
    margin: 0 auto;
    .editor {
      background-color: #fff;
      padding: 20px 40px;
    }
  }
}
.loading {
  width: 100%;
  min-height: 600px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
}
