.box {
  min-height: 800px;
  user-select: none;
  .details {
    width: 100%;
    height: 65px;
    box-shadow: 0 6px 10px #ddd;
    position: relative;
    top: -26px;
    .top {
      display: flex;
      width: 1226px;
      height: 65px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      position: relative;
      user-select: none;

      li {
        list-style: none;
      }
      .topLeft {
        font-size: 30px;
        font-weight: 600;
        transition: all 0.3s;
        cursor: pointer;
        span {
          font-size: 16px;
          background: var(--themeColor);
          background: linear-gradient(to right bottom,
          rgb(158, 41, 41),
          rgb(214, 60, 60),
          rgb(120, 24, 24),
          ) !important;
          color: #fff;
          padding: 0 3px;
          border-radius: 4px;
          position: relative;
          top: -4px;
          margin-left: 8px;
        }
        &:hover {
          color: var(--themeColor);
        }
      }
      .topRight {
        a {
          margin: 0 18px;
          cursor: pointer;
          position: relative;
          transition: all 0.3s;
          color: black;
          &:first-child {
            color: var(--themeColor);
            &::after {
              content: "";
              position: absolute;
              width: 130%;
              height: 3px;
              background: var(--themeColor);
              bottom: -24px;
              left: -4px;
            }
          }
          &:hover {
            color: var(--themeColor);
          }
        }
      }
    }
    .center {
      width: 1226px;
      min-height: 560px;
      margin: 30px auto;
      display: flex;
      justify-content: space-between;
      .centerLeft {
        width: 560px;
        height: 560px;
        overflow: hidden !important;
      }
      .centerRight {
        width: 666px;
        padding: 0 30px;
        .title {
          font-size: 27px;
          font-weight: 600;
          span {
            font-size: 12px;
            // background: var(--themeColor);
            background: linear-gradient(to right bottom,
            rgb(158, 41, 41),
            rgb(214, 60, 60),
            rgb(120, 24, 24),
            ) !important;
            color: #fff;
            padding: 0 3px;
            border-radius: 4px;
            position: relative;
            top: -5px;
            margin-left: 8px;
          }
        }
        .descs {
          position: relative;
          top: -10px;
          color: #b0b0b0;
          line-height: 25px;
          height: 80px;
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3; /* 这里是超出几行省略 */
          overflow: hidden;
        }
        .mi {
          color: var(--themeColor);
          margin: 20px 0 30px;
        }
        .price {
          font-size: 18px;
          .prePrice {
            color: var(--themeColor);
          }
          .nowPrice {
            margin-left: 20px;
            font-size: 14px;
            text-decoration: line-through;
            color: #b0b0b0;
          }
        }
        .line {
          border: 1px solid #e0e0e0;
          margin-bottom: 40px;
        }
        .total {
          width: 100%;
          height: 100px;
          background: #f9f9fa;
          margin-bottom: 45px;
          padding: 10px 40px;
          .totalTop {
            display: flex;
            justify-content: space-between;
            .prePrice {
              color: var(--themeColor);
            }
            .nowPrice {
              font-size: 13px;
              text-decoration: line-through;
              margin-left: 10px;
              color: #b0b0b0;
            }
          }
          .totalPriceBottom {
            font-size: 22px;
            color: var(--themeColor);
            font-weight: 500;
          }
        }
      }
      .btns {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        color: #fff;
        user-select: none;
        .car {
          cursor: pointer;
          width: 55%;
          height: 55px;
          background: var(--themeColor);
          border-radius: var(--btnBorderRadius);
          text-align: center;
          line-height: 55px;
          transition: all 0.4s;
          &:hover {
            background-color: var(--hoverThemeColor);
          }
        }
        .like {
          cursor: pointer;
          width: 38%;
          height: 55px;
          background: #b0b0b0;
          border-radius: var(--btnBorderRadius);
          text-align: center;
          line-height: 55px;
          transition: all 0.4s;
          &:hover {
            background-color: #757575;
          }
        }
      }
      .footer {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span {
          transition: all 0.1s;
          cursor: pointer;
          &:hover {
            color: var(--themeColor);
          }
          margin-right: 30px;
          .icon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.collectActive {
  background-color: #f67000 !important;
}

.loading {
  width: 100%;
  min-height: 200px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
}
