.profile{
}
.forms{
 margin-top: 50px !important;
} 


.loading{
  width: 100%;
  min-height: 200px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
}